:root {
  ---base-unit: 0.5rem;
  ---small: var(---base-unit);
  ---medium: calc(3*var(---base-unit));
  ---large: calc(4*var(---base-unit));
}

body {
  background-color: #F1E9CB;
  font: 100%/1.5rem arial, helvetica, sans-serif;
}

div[name="container"] {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #76BACB;
  font-size: var(---large);
  margin: var(---small) var(---medium);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0 var(---medium);
}

input {
  border: 1px solid black;
  margin: var(---small) 0;
  padding: calc(var(---small)/2) ;
}

button {
  background-color: black;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: calc(var(---small)/2);
  margin: 0 auto var(---small) var(---medium);
  width: calc(1.75*var(---large));
}

.stopwatch:not(.--start-stopwatch) {
  display: none;
}

.stopwatch {
  align-items: center;
  background-color: black;
  box-shadow: 0 0 1em #76bacb;
  color: #76BACB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: calc(50% - 75px);
  height: 100px;
  position: fixed;
  right: calc(50% - 50px);
  width: 150px;
}

h2 {
  font-size: var(---medium);
  padding: 10px;
}

li {
  margin: 0 auto var(---small) var(---medium);
  list-style-position: inside;
  list-style-type: square;
}
