* {
  box-sizing: border-box;
  color: white;
  margin: 0;
}

body {
  background-color: #1C1C1C;
  font: 100%/1.5rem arial, helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #F4831B;
  font-size: 40px;
  margin: 12px;
  text-align: center;
}

label {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  text-align: center;
}

input {
  color: black;
  padding: 4px;
  width: 300px;
}

.button_area {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

button {
  background-color:#EEEB27;
  border: 1px solid #EEEB27;
  border-radius: 16px;
  color: #1C1C1C;
  cursor: pointer;
  padding: 4px;
  margin: 0 4px;
  transition: 350ms;
  width: 60px;
}

button:hover {
  background-color: #3CB7CB;
}

.race {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.stopwatch {
  align-items: center;
  border: 1px solid #F4831B;
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100px;
}

.msec {
  font-size: 15px;
}

.car {
  align-self: flex-start;
  content: url("https://i.ibb.co/mH9Xm3p/car01.png");
  height: 70px;
  margin-bottom: 12px;
  position: relative;
  width: 100px;
}

section {
  margin-left: 25%;
  margin-right: 25%;
}

ul {
  font-size: 30px;
  font-weight: bold;
  color: #F4831B;
  margin: 0;
  padding: 0;
}

li {
  font-weight: normal;
  font-size: 20px;
  list-style-position: inside;
  list-style-type: square;
  padding: 4px;
}
