:root {
  ---base-unit: 12px;
  ---small: calc(1*var(---base-unit));
  ---medium: calc(2*var(---base-unit));
  ---large: calc(3*var(---base-unit));
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #1C1C1C;
  font: 100%/1.5rem arial, helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #F4831B;
  font-size: 40px;
  text-align: center;
  margin: var(---small) 0;
}

label {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: var(---small);
  text-align: center;
}

input {
  border: 1px solid #F4831B;
  color: black;
  padding: calc(var(---small)/2);
  width: 300px;
}

.button_area {
  display: flex;
  justify-content: center;
  padding-bottom: var(---small);
}

button {
  background-color:#EEEB27;
  border: 1px solid #EEEB27;
  border-radius: var(---medium);
  color: #1C1C1C;
  cursor: pointer;
  padding: calc(var(---small)/2);
  margin: 0 calc(var(---small)/2);
  width: 8%;
}

.stopwatch:not(.--start-stopwatch) {
  display: none;
}

.stopwatch {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 1em #EEEB27;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  position: fixed;
  left: calc(50% - 75px);
  width: 150px;
}

span {
  color: black;
}

section {
  border: 1px solid #D02823;
  margin-top: 112px;
  margin-left: 25%;
  margin-right: 25%;
  padding: calc(var(---small)/2) 0;
}

ul {
  font-size: 26px;
  font-weight: bold;
  color: #F4831B;
  margin: 0;
  padding: 0 calc(var(---small)/2);
}

li {
  font-size: 20px;
  font-weight: normal;
  list-style-position: inside;
  list-style-type: square;
  padding: 0 calc(var(---small)/2);
}
