body {
  background-color: #0D445F;
  box-sizing: border-box;
  color: white;
  font: 100%/1.5rem arial, helvetica, sans-serif;
  margin: 0;  
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: none;
}

section:not(.--is-closed) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #FF0F77;
  font-size: 2rem;
  padding: .75rem;
  margin: 0;
}

p {
  margin: 0;
  padding-bottom: .5rem;
}

button[name="open_calc"] {
  background-color: black;
  border-radius: 1rem;
  color: white;
  padding: .4rem;
  transition: 350ms;
}

button[name="open_calc"]:hover {
  color: #6FEBF4;
  padding: .5rem
}

.calc_box {
  position: fixed;
  top: calc(50% - 9.35rem);
  left: calc(50% - 6.25rem);
}

.calc_box:not(.--is-opened) {
  display: none;
}

.calc_innerbox {
  background-color: black;
  display: grid;
  gap: .1rem .1rem;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(6, 3rem);
  padding: .1rem;
}

.calc_display {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 5;
}

div[name="previous_operand"] {
  color: black;
  font-size: 0.8rem;
}

div[name="current_operand"] {
  color: black;
  font-size: 1.6rem;
}

button {
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

button[name="undo"] {
  grid-column-start: 1;
  grid-column-end: 3;
}

button[name="clear"] {
  grid-column-start: 3;
  grid-column-end: 5;
}

.yellow {
  background-color: #F7E482;
  transition-duration: 350ms;
}

.yellow:hover {
  background-color: #FFDE05;
}

button[name="operand"] {
  background-color: #7DEB94;
  transition-duration: 350ms;
}
button[name="operand"]:hover {
  background-color: #40B36A;
}

button[name="operator"] {
  background-color: #6FEBF4;
  transition-duration: 500ms;
}

button[name="operator"]:hover {
  background-color: #729CF2;
}
