body {
  background-color: #F7E9D1;
  font: 100%/1.5rem arial, helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

section:not(.--is-closed) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: none;
}

h1 {
  font-size: 1.5rem;
  margin: .1rem;
}

p {
  margin: .1rem;
  font-size: 0.8rem;
}

button[name="open_calc"] {
  background-color: #202D57;
  color: #F5C1C1;
  border-radius: 0.8rem;
  margin: .1rem;
}

.calc_box {
  position: fixed;
  top: calc(50% - 9.35rem);
  left: calc(50% - 6.25rem);
}

.calc_box:not(.--is-opened) {
  display: none;
}


.calc_innerbox {
  background-color: #202D57;
  display: grid;
  gap: .1rem .1rem;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(6, 3rem);
  padding: .1rem;
}

.calc_display {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  grid-column-start: 1;
  grid-column-end: 5;

}

button {
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

button[name="undo"] {
  background-color: #FFFEBA;
  grid-column-start: 1;
  grid-column-end: 3;
}

button[name="clear"] {
  background-color: #FFFEBA;
  grid-column-start: 3;
  grid-column-end: 5;
}

button[name="operand"] {
  background-color: #CDF1AE;
}
button[name="operand"]:hover {
  background-color: #40B36A;
}

button[name="operator"] {
  background-color: #D0D0FE;
}

button[name="operator"]:hover {
  background-color: #9C599E;
}

button[name="equals"] {
  background-color: #FFFEBA;
}

.yellow:hover {
  background-color: #F9DF36;
}

div[name="previous_operand"] {
  font: normal normal bold 0.8rem Arial;
  height: 0.7rem;
}

div[name="current_operand"] {
  font: normal normal bold 1.6rem Arial;
  height: 1.6rem;
}
